<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
"
>
<!--1.导入spring的坐标spring-context，对应版本6.0.0-->
<!--2.配置bean-->
    <!--bean标签表示配置bean
    id属性表示给bean起名字
    class属性表示给bean定义类型-->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl" scope="singleton" init-method="init" destroy-method="destroy"><!--    方式一:构造方法实例化对象bean-->
        <property name="databaseName" value="mysql"/>
        <property name="connectionNum" value="100"/>
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </array>
        </property>
        <property name="bookList">
            <list>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="1"/>
                <entry key="2" value="2"/>
                <entry key="3" value="3"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="1">1</prop>
                <prop key="2">2</prop>
                <prop key="3">3</prop>
            </props>
        </property>
    </bean>
    <bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/><!--    方式二：使用静态工厂实例化bean-->
    <!--方式三:使用实例化工厂实例化bean-->
<!--    <bean id="userFactory" class="com.itheima.factory.UserDaoFactory"/>
    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao"/>-->
    <bean id="userDao" class="com.itheima.factory.UserDaoFactoryBean"/><!--    方式四:使用FactoryBean实例化bean-->
    <bean id="bookService" name="bookService2 RE" class="com.itheima.service.impl.BookServiceImpl" >
<!--    7.配置service于dao的关系-->
        <!--property标签表示的配置bean的属性
        name属性表示配置哪一个具体的属性<理解为setBookDao>
        ref属性表示参照哪一个bean<理解为bean的关系>-->
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>